*{
    margin:0;
    padding:0;
    box-sizing: border-box;


}


/* #region debug */

.debug { 

    border: 1px dashed;
   
   ;
}



/* #endregion debug */

/* #region utilities */

.d-flex{
    display: flex;
}

.col-6 {
    width: calc((100/12)*6);
}
.col-4 {
    width: calc((100/12)*4);
}
.col-8{
    width: calc((100/12)*8);
}
.col-12{
    width: 100%;
}

/* #endregion utilities */

/* #region header */


#app_header{

    text-align: center;
    padding: 2rem;
    /*background-color: blueviolet;*/

    background-image: url('/img/wall.png');

  

.sometype-mono {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
}



/* #endregion header */

/* #region main */

#app_main{

    background-color: chartreuse;

    background-image: url('/img/cork.png');

    .container{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%
    }
}


/* #endregion main */





