*{
    margin:0;
    padding:0;
    box-sizing: border-box;


}


/* #region debug */

.debug { 

    border: 1px dashed;
   
   
}



/* #endregion debug */

/* #region utilities */


.col-1{
    width: calc((100%/12)*1);
}
.col-2{
    width: calc((100%/12)*2);
}
.col-3{
    width: calc((100%/12)*3);
}
.col-4 {
    width: calc((100%/12)*4);
}
.col-6 {
    width: calc((100%/12)*6);
}

.col-8{
    width: calc((100%/12)*8);
}
.col-12{
    width: 100%;
}

img{
    max-width: 100%;
}

/* #endregion utilities */

/* #region header */


#app_header{

    text-align: center;
    
    padding: 2rem;
    /*background-color: blueviolet;*/

    background-image: url('/img/wall.png');

    h1{
        width: 100%;
    }

  

.sometype-mono {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
}



/* #endregion header */

/* #region main */

#app_main{

    background-color: chartreuse;
    width: 100%;

    background-image: url('/img/cork.png');

    .container{
        display: flex;
        
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        
        margin-right: 5%;
        
    }

    .dot {
        height: 25px;
        width: 25px;
        background-image: linear-gradient(to bottom, red , rgb(79, 79, 69));
        border-radius: 50%;
        display: inline-block;
        margin-left: 45%;
        border-style: solid;
        border-width: 1px;
      }
    
    .row_photo{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        /*.hover_photo {
            transition: transform 0.3s ease;*/
            
       
        
    }

    .container .row_photo :hover{

        

            transform: rotate(7deg) ;
            display: inline-block;

            
            /*transition: transform 0.3s ease;*/
        
    }

    .col_photo .description:hover {

        
        transform: rotate(0deg);

    }
    .col_photo{

        background-color: white;
        padding: 1rem;
        margin: 1rem;
        box-shadow: 5px 10px #626161;

        
       
    }

  

    .photo_space{

        
        display: block;
        
        /*width: 300px;*/
        /*height: 300px;*/
       /* background-color: rgb(200, 160, 238);*/
        /*background-image: url('https://plus.unsplash.com/premium_photo-1691414363231-836e2e1bf0ed?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29wZW5hZ2hlbnxlbnwwfHwwfHx8MA%3D%3D');*/
    }

    .description{

            display: inline;
        
            font-family: "Edu TAS Beginner", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
          
    }
}


/* #endregion main */

/* media mobilefirst */
@media screen and (max-width: 600px){

    
}

/* media desktop */
@media screen and (min-width: 992px) {

  

}


/* tablet */
@media screen and (min-width:768px) and (max-width:991){


}


